/* colors
1a1a2e = rgba(26, 26, 46, 1)
16213e = rgba(22, 33, 62, 1)
0f3460 = rgba(15, 52, 96, 1)
e94560 = rgba(233, 69, 96, 1)
*/

body{
    background-color: rgba(26, 26, 46, 1) !important;
    background: url('hero-image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%;
    font-family:'Poppins', sans-serif !important;
    background-blend-mode: multiply;
}

section{
    background-color: rgba(26, 26, 46, 1) !important;
    font-family:'Poppins', sans-serif !important;
    min-height: 100vh; 
    background-image: url('hero-image.jpg'); 
    background-size: cover;
    background-blend-mode: multiply;
}

.card-body{
    background-color:rgba(26, 26, 46, 1);
}

.headings{
    color: aliceblue;
}

.row{
    justify-content: center;
}

.col{
    text-align: center;
    flex-wrap: wrap;
}


.hero{
    color: rgba(233, 69, 96, 1);
    font-family: 'Poppins', sans-serif;
    
}

.card .results{
    background-color: rgba(26, 26, 46, 1);
    color: rgba(233, 69, 96, 1);
    font-family: 'Poppins', sans-serif;
}

.labels{
    color: white;
    font-weight: bold;
}

.submit-button{
    background-color: rgba(15, 52, 96, 1);
}

#submit{
    background-color: rgba(15, 52, 96, 1);
    border: black;
    color: aliceblue;
}

#home-button{
    background-color: rgba(15, 52, 96, 1);
    border: black;
    color: aliceblue;
}

#chart{
    background-color: rgba(26, 26, 46, 1);
}

#chart1{
    background-color: rgba(26, 26, 46, 1);
}

.jumbotron{
    background-color:  rgba(26, 26, 46, 1) !important;
}

/*.hero-image{
    background-image: url('hero-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(22, 33, 62, 1) ;
    background-blend-mode: multiply;
}*/

.footer{
    padding-top: 20px;
    text-align: center;
    color: aliceblue;
    font-family:'Poppins', sans-serif
}

#epd{
    display: none;
}

#nucleo{
    display: none;
}

.chart-container{
    position: relative; 
    height:60vh; width:75vw
}
