/* colors
1a1a2e = rgba(26, 26, 46, 1)
16213e = rgba(22, 33, 62, 1)
0f3460 = rgba(15, 52, 96, 1)
e94560 = rgba(233, 69, 96, 1)
*/

body{
    background-color: rgba(26, 26, 46, 1) !important;
    height: 100%;
}

.row{
    justify-content: center;
}

.col{
    text-align: center;
    flex-wrap: wrap;
}


.hero{
    color: rgba(233, 69, 96, 1);
    font-family: 'Poppins', sans-serif;
    
}

.results{
    color: rgba(233, 69, 96, 1);
    font-family: 'Poppins', sans-serif;
}

.submit-button{
    background-color: rgba(15, 52, 96, 1);
}

#submit{
    background-color: rgba(15, 52, 96, 1);
    border: black;
}

#chart{
    width: 90%;
    height: 400px;
    margin: auto;
    padding: 10px;
    background-color: rgba(22, 33, 62, 1);
}

#chart1{
    width: 90%;
    height: 400px;
    margin: auto;
    padding: 10px;
    background-color: rgba(22, 33, 62, 1);
}

.jumbotron{
    background-color:  rgba(15, 52, 96, 1) !important;
}

.hero-image{
    background-image: url('hero-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(15, 52, 96, 1) ;
    background-blend-mode: multiply;
}

.footer{
    padding-top: 20px;
    text-align: center;
    color: aliceblue;
}