<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

        <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">

        <title>Promoter Strength</title>
    </head>
    <body>
        <section class="pt-5 pb-5 bg-dark position-relative">
            <div class="bg-overlay"></div>
            <div class="container pt-5 pb-5 position-relative">
              <div class="row d-flex justify-content-between pt-lg-5 align-items-center">
                <div class="col-xl-5 col-lg-6 col-md-7 text-center text-lg-left mb-5 mb-lg-0">
                  <h1 class="display-3 font-weight-bold text-white aos-init aos-animate" data-aos="fade-up">Know Your Promoter Power</h1>
                  <div class="my-4 aos-init" data-aos="fade-up">
                    <p class="lead text-white">Your go-to tool for predicting the strength of <i>Saccharomyces cerevisiae</i> promoters.</p>
                  </div>
                </div>
                <div class="col">
                  <div class="row justify-content-center">
                    <div class="col-xl-8 col-md-10">
                      <form action="{{url_for('result')}}" method="POST" class="position-relative d-block aos-init aos-animate" data-aos="fade-up">
                        {{ form.csrf_token }}
                        <div class="form-group">
                          <div class="row">
                            <div class="col-12">
                              <div class="form-group mb-1">
                                <label class="labels">Does your promoter exist in the EPD database?</label>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group rounded bg-white p-2 border">
                                <div class="custom-control custom-radio">
                                  <input type="radio" id="decision-1" name="decision" class="custom-control-input" onclick="showEPD(this)">
                                  <label class="custom-control-label" for="decision-1">Yes</label>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group rounded bg-white p-2 border">
                                <div class="custom-control custom-radio">
                                  <input type="radio" id="decision-2" name="decision" class="custom-control-input" onclick="showNucleo(this)">
                                  <label class="custom-control-label" for="decision-2">No</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group" id="epd">
                            {{ form.epd_name.label(class="labels") }}
                            {{ form.epd_name(size=40, oninput="this.value = this.value.toUpperCase()", class="form-control form-control-lg", placeholder="RNR1_1") }}
                                {% if form.epd_name.errors %}
                                    {% for error in form.epd_name.errors %}
                                    <p>{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                        </div>
                        <div class="form-group" id="nucleo">
                            {{ form.nucleotide.label(class="labels") }}
                            {{ form.nucleotide(size=40, oninput="this.value = this.value.toUpperCase()", class="form-control form-control-lg", placeholder="TAATTGAA...") }}
                                {% if form.nucleotide.errors %}
                                    {% for error in form.nucleotide.errors %}
                                    <p>{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                        </div>
                        <div class="form-group text-center">
                            {{ form.submit(class="btn btn-lg btn-success btn-block mb-2") }}
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              </section>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>

<!--promoterStrength/static/website/fixed_promoters.csv-->
